.warning-pane {
    -fx-background-color: rgba(3, 18, 23, 1);
    -fx-border-color:  #0fe6f6;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.warning-button {
    -fx-text-fill: #ffffff;
        -fx-font-family: "Century Gothic";
        -fx-font-weight: bold;
        -fx-font-size: 24;
        -fx-border-width: 2;
        -fx-border-color: #0fe6f6;
        -fx-border-radius: 8;
        -fx-background-color: linear-gradient(to right, rgba(3, 3, 10, 1) 5%, rgba(1, 55, 87, 1) 100%);
        -fx-background-radius: 8;
        -fx-background-insets: 0;
}

.warning-button:hover {
    -fx-background-color: linear-gradient(to right, #0fe6f6, #0b59ce);
        -fx-background-radius: 8;        /* must match base — or it goes square/pill */
        -fx-background-insets: 0;
        -fx-cursor: hand;
        -fx-text-fill: black;
        -fx-font-weight: bold;
}

.warning-button:pressed {
    -fx-background-color: linear-gradient(to right, #0fe6f6, #0b59ce);
    -fx-background-radius: 8;
    -fx-background-insets: 0;
    -fx-translate-y: 2;
    -fx-font-weight: bold;
}

.warning-message{
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 28px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
