.button {
    -fx-text-fill: #ffffff;
    -fx-border-width: 2;
    -fx-border-radius: 25;
    -fx-border-color: #0fe6f6;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #0fe6f6, #0b59ce);
    -fx-background-radius: 23;
    -fx-background-insets: 2;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: linear-gradient(to right, #0fe6f6, #0b59ce);
    -fx-background-radius: 23;
    -fx-background-insets: 2;
    -fx-translate-y: 2px;
}